/*

   Arquivo de estilos utilizados nos formulários das páginas de login e cadastro

*/


/* Estilização do hero (Primera seção) */

.hero-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 32px;
   height: 100vh;
   max-height: 816px;

   background-color: var(--dark-blue);
   & > div {
      max-width: 816px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
   }
   &.--logged {
      height: calc(100vh - 70px);
      background-color: white;
      color: black;
   
   }
}

#hero_title-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;

   & > h1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 42px;
      color: white;
      font-weight: 600;
   }
   & > h1 ~ h1 {
      font-size: 32px;
      color: white;
      font-weight: 700;
   }
}

#hero_paragraph {
   font-size: 16px;
   color: white;
   line-height: 150%;
}

#hero_buttons-container {
   display: flex;
   justify-content: center;
   gap: 32px;
   width: 100%;
}

.test-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   gap: 24px;
   padding-block: 32px;
   background-color: var(--bluish-gray);
}

#benefits-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;
   padding-block: 32px;
}

.medium-title {
   font-size: 32px;
   font-weight: 500;
}

.brand {
   color: var(--red);
   text-decoration: underline;
}

#benefits-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;
   max-width: 816px;
   justify-content: center;

   & > hr {
      width: 100%;
      margin: 0px;
      border: 1px solid var(--dark-gray);
   }
}

.benefit {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;     
   & > h3 {
      font-size: 24px;
      font-weight: 500;
   }
   & > p {
      line-height: 150%;
      text-align: center;
   }
}

#cta-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   padding-top: 24px;
}

#welcome_back-title_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 32px;
   max-width: 480px;
   height: 100%;

   & > p {
      font-weight: bold;
      font-size: 48px;
   }
   & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      & >p#revision {
         font-size: 32px;
         font-weight: 500;
         text-align: center;
      }
      & >p#recomendation {
         font-size: 24px;
         font-weight: 500;
         text-align: center;
         line-height: 125%;
      }
   }  
}
#welcome_back_container {
   margin-top: 64px;
}

.switching-container {
   display: inline-block;
   background-color: var(--base-blue);
   padding-inline: 4px;
   padding-top: 2px;
   max-width: min-content;
   max-height: 48px;
   overflow: hidden;
   div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 26px;
   }
}

@keyframes moveUp {
   from {
       left: 0;
   }
   20% {
      left: 100%;
      transform: translateY(-66px);
   }
   to {
      transform: translateY(-66px);
   }
}

.switching-container .--switching {
   animation: moveUp 2s ease-out infinite;
}